html, body {
    margin: 0;
    padding: 0;
}

#p5-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#p5-ui {
    display: block;
    margin: 20px;
}

canvas {
    display: block;
    border-radius: 12px;
}
