html, body {
    margin: 0;
    padding: 0;
}

#p5-container {
    margin: 20px;
    display: flex;
    
    /* This centers our sketch horizontally. */
    justify-content: center;
    
    /* This centers our sketch vertically. */
    /* align-items: center; */
}

canvas {
    display: block;
    border-radius: 12px;
}
